In [1]:
import pandas as pd
import numpy
from sqlalchemy import create_engine

In [2]:
# A tabela pivotada 1 é resultado da aba DPCache_m3
# A tabela pivotada 3 é resultado da aba DPCache_m3_2

In [3]:
df1 = pd.read_excel("vendas-combustiveis-m3.xlsx", sheet_name='DPCache_m3')
df2 = pd.read_excel("vendas-combustiveis-m3.xlsx", sheet_name='DPCache_m3_2')

In [4]:
month_map = {'Jan':'01', 'Fev':'02', 'Mar':'03', 'Abr': '04', 'Mai':'05', 'Jun':'06',
            'Jul':'07', 'Ago':'08', 'Set':'09', 'Out':'10', 'Nov':'11', 'Dez':'12',
            'COMBUSTÍVEL':'product', 'ESTADO': 'uf'}

In [5]:
df1.rename(columns = month_map, inplace = True)
df2.rename(columns = month_map, inplace = True)

In [6]:
df1 = df1.drop(['REGIÃO', 'TOTAL'], axis=1)
df2 = df2.drop(['REGIÃO', 'TOTAL'], axis=1)

In [7]:
df3 = pd.melt(df1, id_vars=["product", "ANO", "uf"], var_name="MES", value_name='volume')
df4 = pd.melt(df2, id_vars=["product", "ANO", "uf"], var_name="MES", value_name='volume')

In [8]:
df3 = df3.astype({"ANO":str})
df4 = df4.astype({"ANO":str})

In [9]:
df3['year_month'] = df3.ANO.str.cat(df3.MES,sep="-")
df4['year_month'] = df4.ANO.str.cat(df4.MES,sep="-")

In [10]:
df3 = df3.drop(['ANO', 'MES'], axis=1)
df4 = df4.drop(['ANO', 'MES'], axis=1)

In [11]:
df3['unit'] = "m3"
df4['unit'] = "m3"

df3['created_at'] = pd.Timestamp.now()
df4['created_at'] = pd.Timestamp.now()

In [12]:
column_names_ordered = ["year_month", "uf", "product", "unit", "volume", "created_at"]
df3['product'] = df3['product'].str[0:-5]
df4['product'] = df4['product'].str[0:-5]

df3 = df3[column_names_ordered]
df4 = df4[column_names_ordered]

In [13]:
df3 = df3.dropna(subset = ['volume'])
df4 = df4.dropna(subset = ['volume'])

In [14]:
df3

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C,m3,136073.253000,2022-03-26 18:43:59.649193
1,2000-01,ACRE,GASOLINA C,m3,3358.346000,2022-03-26 18:43:59.649193
2,2000-01,AMAZONAS,GASOLINA C,m3,20766.918000,2022-03-26 18:43:59.649193
3,2000-01,RORAIMA,GASOLINA C,m3,3716.032000,2022-03-26 18:43:59.649193
4,2000-01,PARÁ,GASOLINA C,m3,29755.907000,2022-03-26 18:43:59.649193
...,...,...,...,...,...,...
54427,2020-12,RIO GRANDE DO SUL,GLP,m3,64045.161232,2022-03-26 18:43:59.649193
54428,2020-12,MATO GROSSO DO SUL,GLP,m3,16281.139493,2022-03-26 18:43:59.649193
54429,2020-12,MATO GROSSO,GLP,m3,18321.987319,2022-03-26 18:43:59.649193
54430,2020-12,GOIÁS,GLP,m3,46850.585145,2022-03-26 18:43:59.649193
54431,2020-12,DISTRITO FEDERAL,GLP,m3,133282.702899,2022-03-26 18:43:59.649193

In [15]:
df4

,year_month,uf,product,unit,volume,created_at
0,2013-01,RONDÔNIA,ÓLEO DIESEL S-10,m3,81453.67,2022-03-26 18:43:59.650068
1,2013-01,ACRE,ÓLEO DIESEL S-10,m3,1483.00,2022-03-26 18:43:59.650068
2,2013-01,AMAZONAS,ÓLEO DIESEL S-10,m3,6836.30,2022-03-26 18:43:59.650068
3,2013-01,RORAIMA,ÓLEO DIESEL S-10,m3,1475.30,2022-03-26 18:43:59.650068
4,2013-01,PARÁ,ÓLEO DIESEL S-10,m3,40913.48,2022-03-26 18:43:59.650068
...,...,...,...,...,...,...
12953,2020-12,PARANÁ,ÓLEO DIESEL (OUTROS ),m3,5.00,2022-03-26 18:43:59.650068
12954,2020-12,SANTA CATARINA,ÓLEO DIESEL (OUTROS ),m3,5.00,2022-03-26 18:43:59.650068
12955,2020-12,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ),m3,10.00,2022-03-26 18:43:59.650068
12956,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ),m3,0.00,2022-03-26 18:43:59.650068
12957,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.00,2022-03-26 18:43:59.650068

In [16]:
raw_data = pd.concat([df3, df4], ignore_index=True)
raw_data

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C,m3,136073.253,2022-03-26 18:43:59.649193
1,2000-01,ACRE,GASOLINA C,m3,3358.346,2022-03-26 18:43:59.649193
2,2000-01,AMAZONAS,GASOLINA C,m3,20766.918,2022-03-26 18:43:59.649193
3,2000-01,RORAIMA,GASOLINA C,m3,3716.032,2022-03-26 18:43:59.649193
4,2000-01,PARÁ,GASOLINA C,m3,29755.907,2022-03-26 18:43:59.649193
...,...,...,...,...,...,...
66415,2020-12,PARANÁ,ÓLEO DIESEL (OUTROS ),m3,5.000,2022-03-26 18:43:59.650068
66416,2020-12,SANTA CATARINA,ÓLEO DIESEL (OUTROS ),m3,5.000,2022-03-26 18:43:59.650068
66417,2020-12,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ),m3,10.000,2022-03-26 18:43:59.650068
66418,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ),m3,0.000,2022-03-26 18:43:59.650068
66419,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.000,2022-03-26 18:43:59.650068

In [17]:
# raw_data.info()
# raw_data.shape
# raw_data.dtypes
# raw_data.isnull().sum()
# raw_data.describe()

In [18]:
estados = ['ACRE', 'ALAGOAS', 'AMAPÁ', 'AMAZONAS', 'BAHIA', 'CEARÁ', 'DISTRITO FEDERAL', 'ESPÍRITO SANTO',
            'GOIÁS', 'MARANHÃO', 'MATO GROSSO', 'MATO GROSSO DO SUL', 'MINAS GERAIS', 'PARÁ', 'PARAÍBA', 
            'PARANÁ', 'PERNAMBUCO', 'PIAUÍ', 'RIO DE JANEIRO', 'RIO GRANDE DO NORTE', 'RIO GRANDE DO SUL',
            'RONDÔNIA', 'RORAIMA', 'SANTA CATARINA', 'SÃO PAULO', 'SERGIPE', 'TOCANTINS']

produtos = ['ETANOL HIDRATADO', 'GASOLINA C', 'GASOLINA DE AVIAÇÃO', 'GLP', 
            'ÓLEO COMBUSTÍVEL', 'ÓLEO DIESEL', 'QUEROSENE DE AVIAÇÃO', 
            'QUEROSENE ILUMINANTE', 'ÓLEO DIESEL (OUTROS )', 'ÓLEO DIESEL MARÍTIMO', 
            'ÓLEO DIESEL S-10', 'ÓLEO DIESEL S-1800', 'ÓLEO DIESEL S-500']

anos = [str(x) for x in list(range(2000,2021))]

# valor =! number

In [19]:
raw_data.iloc[66415,0] = 'sem data'
raw_data.iloc[66416,1] = 'sem estado'
raw_data.iloc[66417,2] = 'sem produto'
raw_data.iloc[66418,4] = 'sem numero'

raw_data.tail(20)

,year_month,uf,product,unit,volume,created_at
66400,2020-12,AMAZONAS,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66401,2020-12,RORAIMA,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66402,2020-12,PARÁ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66403,2020-12,AMAPÁ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66404,2020-12,TOCANTINS,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66405,2020-12,MARANHÃO,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66406,2020-12,PIAUÍ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66407,2020-12,CEARÁ,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66408,2020-12,RIO GRANDE DO NORTE,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66409,2020-12,PARAÍBA,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66410,2020-12,BAHIA,ÓLEO DIESEL (OUTROS ),m3,0.0,2022-03-26 18:43:59.650068
66411,2020-12,MINAS GERAIS,ÓLEO DIESEL (OUTROS ),m3,20.0,2022-03-26 18:43:59.650068
66412,2020-12,ESPÍRITO SANTO,ÓLEO DIESEL (OUTROS ),m3,35.0,2022-03-26 18:43:59.650068
66413,2020-12,RIO DE JANEIRO,ÓLEO DIESEL (OUTROS ),m3,654.0,2022-03-26 18:43:59.650068
66414,2020-12,SÃO PAULO,ÓLEO DIESEL (OUTROS ),m3,474.0,2022-03-26 18:43:59.650068
66415,sem data,PARANÁ,ÓLEO DIESEL (OUTROS ),m3,5.0,2022-03-26 18:43:59.650068
66416,2020-12,sem estado,ÓLEO DIESEL (OUTROS ),m3,5.0,2022-03-26 18:43:59.650068
66417,2020-12,RIO GRANDE DO SUL,sem produto,m3,10.0,2022-03-26 18:43:59.650068
66418,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ),m3,sem numero,2022-03-26 18:43:59.650068
66419,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.0,2022-03-26 18:43:59.650068

In [20]:
bad_data1 = raw_data[~numpy.isin(raw_data['year_month'].str[0:4], anos)]
raw_data = raw_data.drop(index=bad_data1.index.tolist())

In [21]:
bad_data2 = raw_data[~numpy.isin(raw_data['uf'], estados)]
raw_data = raw_data.drop(index=bad_data2.index.tolist())

In [22]:
bad_data3= raw_data[~numpy.isin(raw_data['product'], produtos)]
raw_data = raw_data.drop(index=bad_data3.index.tolist())

In [23]:
bad_data4 = raw_data[raw_data['volume'].str.isnumeric() == False]
raw_data = raw_data.drop(index=bad_data4.index.tolist())

In [24]:
raw_data

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C,m3,136073.253,2022-03-26 18:43:59.649193
1,2000-01,ACRE,GASOLINA C,m3,3358.346,2022-03-26 18:43:59.649193
2,2000-01,AMAZONAS,GASOLINA C,m3,20766.918,2022-03-26 18:43:59.649193
3,2000-01,RORAIMA,GASOLINA C,m3,3716.032,2022-03-26 18:43:59.649193
4,2000-01,PARÁ,GASOLINA C,m3,29755.907,2022-03-26 18:43:59.649193
...,...,...,...,...,...,...
66411,2020-12,MINAS GERAIS,ÓLEO DIESEL (OUTROS ),m3,20.0,2022-03-26 18:43:59.650068
66412,2020-12,ESPÍRITO SANTO,ÓLEO DIESEL (OUTROS ),m3,35.0,2022-03-26 18:43:59.650068
66413,2020-12,RIO DE JANEIRO,ÓLEO DIESEL (OUTROS ),m3,654.0,2022-03-26 18:43:59.650068
66414,2020-12,SÃO PAULO,ÓLEO DIESEL (OUTROS ),m3,474.0,2022-03-26 18:43:59.650068
66419,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ),m3,90.0,2022-03-26 18:43:59.650068

In [25]:
# Salvando dataframe pandas raw_data em arquivo excel
# raw_data.to_excel('raw_data.xlsx')

In [26]:
# engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

In [27]:
# Salvando dataframe pandas raw_data para tabela raw_data no PostgreSQL
# raw_data.to_sql('raw_data', con=engine, if_exists='replace',index=True)

In [28]:
# Lendo a tabela raw_data no PostgreSQL e salvando no dataframe raw_data pandas
# raw_data = pd.read_sql('SELECT * FROM raw_data', con=engine)