In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
df = pd.read_excel("CREA-MS.xlsx", sheet_name=0)

In [3]:
df.head(10)

,Empresa,Registro,A,B,Situação,RT
0,A7 AVIAÇÃO AGRÍCOLA,MS374,NaN,NaN,ATIVA,Responsáveis Técnicos
1,IMAGETECH TECNOLOGIA EM INFORMÁTICA LTDA,MS7507,NaN,NaN,ATIVA,Responsáveis Técnicos
2,03 IRMÃOS PRESTADORA DE SERVIÇOS,MS18358,NaN,NaN,ATIVA,Responsáveis Técnicos
3,1 PRA 2 ARQUITETURA E ENGENHARIA,MS19107,NaN,NaN,ATIVA,Responsáveis Técnicos
4,12M CONSTRUTORA E SERVIÇOS EIRELI ME,MS9908,NaN,NaN,INATIVA,Entrar em contato com o CREA-MS pelo telefone ...
5,1A SERVICE,MS20561,NaN,NaN,ATIVA,Responsáveis Técnicos
6,2 A AVIAÇÃO AGRICOLA,MS18912,NaN,NaN,ATIVA,Responsáveis Técnicos
7,2.0 ENGENHARIA,MS19816,NaN,NaN,ATIVA,Responsáveis Técnicos
8,2A TRANSPORTE E SERVIÇO LTDA EPP,MS7913,NaN,NaN,INATIVA,Entrar em contato com o CREA-MS pelo telefone ...
9,2J INCORPORACAO E EMPRENDIMENTOS IMOBILIARIOS ...,MS18939,NaN,NaN,ATIVA,Responsáveis Técnicos

In [4]:
df = df.drop(columns=['A','B', 'RT'], axis=1)

In [5]:
df.head(10)

                                             Empresa Registro Situação
0                                A7 AVIAÇÃO AGRÍCOLA    MS374    ATIVA
1           IMAGETECH TECNOLOGIA EM INFORMÁTICA LTDA   MS7507    ATIVA
2                   03 IRMÃOS PRESTADORA DE SERVIÇOS  MS18358    ATIVA
3                   1 PRA 2 ARQUITETURA E ENGENHARIA  MS19107    ATIVA
4               12M CONSTRUTORA E SERVIÇOS EIRELI ME   MS9908  INATIVA
5                                         1A SERVICE  MS20561    ATIVA
6                               2 A AVIAÇÃO AGRICOLA  MS18912    ATIVA
7                                     2.0 ENGENHARIA  MS19816    ATIVA
8                   2A TRANSPORTE E SERVIÇO LTDA EPP   MS7913  INATIVA
9  2J INCORPORACAO E EMPRENDIMENTOS IMOBILIARIOS ...  MS18939    ATIVA

In [6]:
df.shape

(1000, 3)

Essa porra não ta funcionando não caralho

In [7]:
cond = df['Situação'] == 'ATIVA'
df2 = df[cond]

In [8]:
df2.shape

(660, 3)

In [9]:
df2.head()

                                    Empresa Registro Situação
0                       A7 AVIAÇÃO AGRÍCOLA    MS374    ATIVA
1  IMAGETECH TECNOLOGIA EM INFORMÁTICA LTDA   MS7507    ATIVA
2          03 IRMÃOS PRESTADORA DE SERVIÇOS  MS18358    ATIVA
3          1 PRA 2 ARQUITETURA E ENGENHARIA  MS19107    ATIVA
5                                1A SERVICE  MS20561    ATIVA

No site http://cnpj.info/ conseguimos buscar pelo nome e trás o CNPJ

In [10]:
busca = '03 IRMAOS PRESTADORA DE SERVICOS'

In [11]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

url = 'http://cnpj.info/'

driver = webdriver.Firefox()
driver.get(url)

WebDriverException: Message: 'geckodriver' executable needs to be in PATH.